<div id="vista-home" data-vista="home">
  <section class="cards-grid">
    <article class="card ingresos">
      <div class="card-content">
        <p class="card-label">Ingresos Totales</p>
        <h3 id="resumen-ingresos" class="card-amount">$0.00</h3>
      </div>
      <div class="card-icon">
        <img
          class="asset-icon"
          src="/src/assets/icons/trending_up.svg"
          alt=""
        />
      </div>
    </article>
    <article class="card egresos">
      <div class="card-content">
        <p class="card-label">Gastos Totales</p>
        <h3 id="resumen-egresos" class="card-amount">$0.00</h3>
      </div>
      <div class="card-icon">
        <img
          class="asset-icon"
          src="/src/assets/icons/trending_down.svg"
          alt=""
        />
      </div>
    </article>
    <article id="card-balance" class="card balance">
      <div class="card-content">
        <p class="card-label">Balance Neto</p>
        <h3 id="resumen-balance" class="card-amount">$0.00</h3>
      </div>
      <div id="badge-balance" class="card-icon">
        <img class="asset-icon" src="/src/assets/icons/balance.svg" alt="" />
      </div>
    </article>
  </section>
</div>
